#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  background: url("https://masterpiecer-images.s3.yandex.net/9a566d034be811ee8f5ae6d39d9a42a4:upscaled");
}

.countyListItem {
  background: #212529;
}

.countyListItem:hover {
  background: #ec364d;
  cursor: pointer;
}